/**
 * Basic layout, for animation examples, check demo.css
 */

 @font-face {
   font-family: 'Bebas-Regular';
   src: url('Bebas-Regular.eot'); /* IE9 Compat Modes */
   src: url('Bebas-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('Bebas-Regular.woff') format('woff'), /* Modern Browsers */
        url('Bebas-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('Bebas-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
 }

 @font-face {
 font-family: 'StintUltraCondensed-Regular';
 src: url('StintUltraCondensed-Regular.eot'); /* IE9 Compat Modes */
 src: url('StintUltraCondensed-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('StintUltraCondensed-Regular.woff') format('woff'), /* Modern Browsers */
			url('StintUltraCondensed-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
			url('StintUltraCondensed-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
 }


html, body
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: 'Bebas-Regular', sans-serif;

/**	background: white; **/
	color: black;

	font-size: 22px;
	line-height: 33px;

	text-align: center;

}


.font2 {	font-family: 'StintUltraCondensed-Regular', sans-serif;}



a
{
	color: #d7e7f3;
	text-decoration: none;
	font-weight: 500;

	transition: color 0.25s ease;
}

a:hover
{
	color: #fff;
}

h1
{
	font-size: 5em;
	font-weight: 200;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: normal;

	-webkit-font-smoothing: subpixel-antialiased;
}

h2
{
	font-weight: 300;
	font-size: 2em;
	line-height: 1.25em;
	color: gray; /* #3F3F3F */

	-webkit-font-smoothing: subpixel-antialiased;
}

h3
{
	font-weight: 500;
	font-size: 1.3em;
	line-height: 1.5em;
	color: #d7e7f3;
	margin: 80px 0 0 0;

	-webkit-font-smoothing: subpixel-antialiased;
}

div.block
{
	position: relative;
	height: 80vh;
	padding: 20vh 15vw 0 15vw;
}

div.block svg
{
	position: absolute;
	bottom: 50px;
	width: 30px;

	animation: chevronAnimation 4s ease-in-out 0s infinite;
}

div.block svg path
{
	fill: #7e9aae;
}

div.block:nth-child(1n)
{
	background: white;
}

div.block:nth-child(2n)
{
	background: #e49ec4;
}

div.block:nth-child(3n)
{
	background: #8fceb9;
}


div #logo {
	perspective: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
}

.square {
	width: 600px;
	height: 400px;
	/** background: grey;*/
	transform: rotateY(45deg);
	animation: rotateAnimation 5s ease infinite;
}

.square img{
	max-width:100%;
  max-height:100%;
}

@keyframes rotateAnimation {
	from {transform: rotateY(0deg);}
	to {transform: rotateY(360deg);}
}



/**
 * Simple keyframes animation for the chevron on the first slide
 */
@keyframes chevronAnimation {
	0% {
		transform: translate(0,0) scale(1.0,1.0);
	}
	50% {
		transform: translate(0,5px) scale(0.8,0.8);
	}
	100% {
		transform: translate(0,0) scale(1.0,1.0);
	}
}


/**
 * Responsiveness
 */
@media screen and (max-width: 1024px)
{
	body
	{
		font-size: 18px;
		line-height: 27px;
	}
}

@media screen and (max-width: 800px)
{
	h1 span
	{
		display: block;
	}

	div.block
	{
		height: 85vh;
		padding: 15vh 15vw 0 15vw;
	}
}

@media screen and (max-width: 420px)
{
	body
	{
		font-size: 12px;
		line-height: 18px;
	}
}

@media screen and (max-width: 360px)
{
	h1
	{
		font-size: 3em;
	}
}
